<h2>About Super Rentals</h2>

<p>The Super Rentals webiste was created to explore the wonderful world of Ember.js. Blah Blah Blah Blah.</p>

{{#link-to 'contact'}}Click here to contact us.{{/link-to}}
